SECRET_KEY=YOUR-SECRET_KEY
GOOGLE_DRIVE_FOLDER_ID="GOOGLE DRIVE FOLDER ID ANDA UNTUK MENYIMPAN LAPORAN"
N8N_SUMMARY_WEBHOOK_URL="ALAMAT WEBHOOK ALAT SUMMARY"
WORKFLOW_2="ALAMAT ALAT PREDIKSI STOK"
N8N_WEBHOOK_URL="ALAMAT WEBHOOK UPDATE STOK"
# Setingan dibawah ini udah bener buat docker
INTERNAL_API_BASE_URL=http://ALAMAT IP LOKAL ANDA:5000
# REDIS_HOST=redis
REDIS_HOST=IP LOKAL ANDA
REDIS_PORT=PORT REDIS - Default 6379
REDIS_DB=Database Anda - Default 0
BATCH_SIZE=Berapa banyak mau sekali update stok-Default 500