<nav class="bg-yellow-100 text-black px-6 py-4 shadow-md font-semibold">
  <ul class="flex space-x-6 max-w-7xl mx-auto justify-center">
    <li><a href="{{ url_for('main.index') }}" class="hover:text-gray-500">Home</a></li>
    <li><a href="{{ url_for('chat.chat') }}" class="hover:text-gray-500">Chat</a></li>
    <li><a href="{{ url_for('upload.update_stok') }}" class="hover:text-gray-500">Update Stok</a></li>
    <li><a href="{{ url_for('tasks_ui.prediksi_stok_task') }}" class="hover:text-gray-500">Prediksi Stok</a></li>
    <li><a href="{{ url_for('summary.rangkuman') }}" class="hover:text-gray-500">Summary</a></li>
    <li><a href="{{ url_for('tasks_ui.tasks') }}" class="hover:text-gray-500">Tasks</a></li>
  </ul>
</nav>
